body{
  font-family: 'Arial', sans-serif;
  display: grid;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.Card-pokemon {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(219, 61, 13, 0.2);
  transition: all 0.2s ease;
}
.Card-pokemon:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(219, 61, 13, 0.4);
}
.Card-pokemon  img {
  width: 100px;
  height: 100px;
}
.Card-pokemon .selected {
  border: 2px solid #ff6b6b;
  box-shadow: 0 0 12px rgba(219, 61, 13, 0.8);
  transform: translateY(-5px);
}

main.with-detail .Container-Cards {
  width: 18%;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  max-height: 800px;      /* altura de 1 fila aprox */
  overflow-y: auto;       /* scroll si hay más */
}

main.with-detail .Page-pokemon {
  width: calc(100% - 18%); /* el resto del espacio */
}

/* Estado normal sin detalle */
.Container-Cards {
  width: 90%;             /* ocupa todo */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.Button-more {
  margin: 20px auto;
  display: block;
}

/* panel de la derecha para mostrar detalles del pokemon seleccionado */
.Page-pokemon {
  width: 90%;
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
}

.Type-sprite {
  width: 20px;
}

  