header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.TarjetaPokemon{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

  